
#speakers h3,h7,h4,h5,img{
       
  margin-top: 0%;
  margin-bottom: 0%;  
}

#header{  
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0%;
    background-color: #04263a;    
  }
#header a{    
    color: aliceblue;    
}
.header a:hover{    
  opacity: 0.7;       
}
#se{    
  padding-left: 0%;      
  margin-left: 0%;  
  margin-top: 0.2rem;
  margin-bottom: 0%;
}
.main {  
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;   
    background-color: #04263a;
    
}

.card{  
  background-color: #101418;  
  color: aliceblue;  
  height: 28rem;
  margin-top: 1rem;
  margin-left: 0.3rem;

}
.lista{
    list-style :none;
    padding-left:0;
}

.opencv{
    width: 3rem; 
    height:3rem;
    border-radius: 45%;
}

.python{
    width: 4rem; 
    height:4rem;
    border-radius: 75%;
}

.col{
  
  display: flex;
  flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
  
}
.g{
  height: 12em;
  width: 12rem;
  margin: 1rem;
  float: right;
  padding: 0%;
}

.img1{
  height: 13em;
  width: 13rem;
  margin: 1rem;
  float: right;
  padding: 0%;
  margin-left: 3rem;
}

.img2{
  height: 13em;
  width: 13rem;
  margin: 1rem;
  float: right;
  padding: 0%;  
}

.img4{
  height: 13em;
  width: 13rem;
  margin: 1rem;
  float: right;
  padding: 0%;  
  margin-left: 3rem;
}

.h{
  height: 13rem;
  width: 13rem;
  margin: 1rem;
  float: right;
  padding: 0%;
}


#container2 {    
  height: 0.2rem;
  margin: 0%;
}

.a{
  height: 6rem;
  width: 6rem;
}


.github2 {
  width: 42px; 
  height: 42px; 
  margin-left: 0.5rem;  
}

.nav-item a:hover{    
  opacity: 0.7;       
}

.footer {  
  background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);     
}   

.footer a {
  color: white;
  font-size: 1rem;
}

.navbar a{
  text-align:right;
}

.github {
  width: 42px; 
  height: 42px; 
  margin-left: 0.5rem;  
}

.Linkedin {
  width: 43px; 
  height: 43px;
  margin:0%
}

.mail {
  width: 45px; 
  height: 45px;  
  margin:0%
}

p{
  color: aliceblue;
}

#l1{
  border-radius: 72%;
}
#desactiv{
  pointer-events: none;    
  color:aliceblue; 
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  }





  .footer {  
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);     
}   



.footer a {
    color: white;
    font-size: 1rem;
}

.navbar a{
    text-align:right;
}

.github {
    width: 42px; 
    height: 42px; 
    margin-left: 0.5rem;  
}

.Linkedin {
    width: 43px; 
    height: 43px;
    margin:0%
}

.mail {
    width: 45px; 
    height: 45px;  
    margin:0%
}

p{
    color: aliceblue;
}

#l1{
    border-radius: 72%;
}
.nav-item a:hover{    
    opacity: 0.7;       
}

#desactiv{
    pointer-events: none;    
    color:aliceblue; 
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    }

.contenedor {
        display: flex;        
        justify-content: start;
        align-items: start;
        /*height: 61rem;*/
        width: 35rem;
        /*height: 100vh;*/
        background-size: cover;
        position: relative;
        /*width: 100%; /* Ancho completo del contenedor */
        height: 100%; /* Altura del contenedor igual a la altura de la ventana gráfica */
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 1.5rem;
        padding: 0%;
        background-color: #161716;
                
      }

.contenedor li {
        font-size: 16px;        
        color: aliceblue;
        margin: 0;
        /*list-style :none;*/
        
 
}

.contenedor h5 {
        
        line-height: 1.5;
        color: aliceblue;
        margin: 0;
        margin-left: 0%;
        padding-left: 0%;
        
     }
        

.lista{    
        padding: left 0.7em;
}

 
.respons{
        display: flex;
        flex-wrap: wrap;
}
