
#header{  
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding: 0%;
      background-color: #04263a;    
}
  #header a{    
      color: aliceblue;    
  } 
  
.main {  
    padding: 0%;
    margin-bottom: 0%;
    background-color: #04263a;      
}


  
.col{    
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0%;   
    margin-right: 0%; 
    padding-right: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
}

#img1{
    height: 20rem;
    width: 29rem;   
    float: right;
    padding: 0%;
    margin-left: 0rem;
    margin-top: 0.3rem;
    margin-bottom: 2.9rem;
}
    
#img2{
    height: 20rem;
    width: 29rem;    
    float: right;
    padding: 0%;
    margin-left: 2rem;    
    margin-top: 0%;
    margin-bottom: 1.5rem;
}

.footer {  
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);     
}   



.footer a {
    color: white;
    font-size: 1rem;
}

.navbar a{
    text-align:right;
}

.github {
    width: 42px; 
    height: 42px; 
    margin-left: 0.5rem;  
}

.Linkedin {
    width: 43px; 
    height: 43px;
    margin:0%
}

.mail {
    width: 45px; 
    height: 45px;  
    margin:0%
}

p{
    color: aliceblue;
}

#l1{
    border-radius: 72%;
}
.nav-item a:hover{    
    opacity: 0.7;       
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
    }

.contenedor {
        display: flex;        
        justify-content: start;
        align-items: start;
        height: 61rem;
        width: 35rem;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 1.5rem;
        padding: 0%;
        background-color: #161716;        
      }

.contenedor li {
        font-size: 16px;        
        color: aliceblue;
        margin: 0;
        /*list-style :none;*/
 
}

.contenedor h5 {
        
        line-height: 1.5;
        color: aliceblue;
        margin: 0;
        margin-left: 0%;
        padding-left: 0%;
     }
        

.lista{    
        padding: left 0.7em;
}

 
.respons{
        display: flex;
        flex-wrap: wrap;
}